@import '../../../assets/styles/vars';

.modal-dialog {
    border: none;
    background-color: transparent;
    .modal-content {
        border: none;
        @media (max-width: 640px) {
            width: 90vw;
        }
    }
    .modal-title {
        font-family: $header-font;
        text-align: center;
        margin-bottom: 24px;
    }
    .modal-body {
        text-align: center;
        font-family: $text-font;
        font-size: 20px;
        
        button {
            background-color: $third-color;
            border: none;
            border-radius: 16px;
            padding: 8px 16px;
            margin: 8px 4px;
            font-family: $text-font;
            transition: .5s;
            color: white;
            font-size: 14px;
            font-family: $text-font;
            &:hover {
                border-radius: 4px;
                background-color: $third-color;
            }
            &:focus {
                border-radius: 4px;
                background-color: $third-color;
            }
        }
    }
}
