@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Proza+Libre:wght@500;600&display=swap');

$primary-color: #e76f51;
$second-color: #f4a261;
$third-color: #264653;

$header-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;

$header-font-size: 40px;
$text-font-size: 20px;

$big-spacing: 80px;
$small-spacing: 32px;