@import './vars';

.login__container {
    margin: 0px auto 160px auto;
    .login__header {
        font-family: $header-font;
        font-size: $header-font-size;
    }
    .login__subheader {
        font-family: $text-font;
        font-size: $text-font-size;
    }
    label {
        font-family: $text-font;
    }
    input {
        width: 80%;
        margin: 0 auto;
        font-family: $text-font;
        border: none;
        background-color: #F3F3F3;
        &:focus {
            background-color: #F3F3F3;
        }
    }
    button {
        background-color: $third-color;
        border-radius: 16px;
        border: none;
        padding: 8px 40px !important;
        transition: .5s;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.123);
        padding: 8px;
        &:hover {
            background-color: $primary-color !important;
        }
        &:focus {
            background-color: $primary-color !important;
        }
    }
    .login__errorMsg {
        font-size: 16px;
        color: red;
    }
}

.svg__left {
    position: absolute;
    width: 1600px;
    margin-left: -1600px;
    margin-top: -560px;
    z-index: -1;
    margin-bottom: -1200px;
}