@import './vars';

.pet__details__row {
    padding: 0px 80px;
    margin-top: 40px;
    text-align: center;

    .pet__details__left {
        img {
            object-fit: cover;
            width: 100%;
            height: 50vh;
            border-radius: 24px;
        }
    }

    .pet__details__right {
        position:relative; 
        .pet__details__name {
            font-family: $header-font;
            font-size: $header-font-size;
        }
        .pet__details__desc {
            font-family: $text-font;
            font-size: 16px;
        }
        .pet__details__info__row {
            background-color: rgb(238, 238, 238);
            padding: 8px 32px;
            position:absolute;                  
            bottom:0;   
            width: 100%;
            border-radius: 24px;
            .pet__details__row__desc {
                color: rgb(143, 143, 143);
                font-family: $text-font;
                font-size: 14px;
            }
            .pet__details__infos {
                font-family: $text-font;
                font-size: 18px;
                margin-top: -16px;
            }
        }
    }
}

.map {
    margin-top: 40px;
    width: 100%;
    height: 400px;
}
