@import './vars';

.pet__card {
    border: none !important;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.123);
    margin: 16px 16px;
    border-radius: 24px !important;

    img {
        border-radius: 24px 24px 0px 0px !important;
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
    .pet__card__tag {
        background-color: $primary-color;
        border-radius: 24px;
        max-width: 24%;
        text-align: center;
        color: white;
        padding: 8px;
        margin-top: -48px;
        margin-left: 16px;
        font-family: $text-font;
    }
    .card-title {
        font-family: $header-font;
        font-size: $subheader-font-size;
        text-align: center;
    }
    .pet__card__time {
        text-align: center !important;
        font-family: $text-font;
        margin-top: -12px;
        margin-bottom: 24px;
        color: rgba(0, 0, 0, 0.438);
        font-size: 12px;
    }
    .pet__card__desc {
        font-family: $text-font;
        font-size: $text-font-size;
    }
    .pet__card__readmore {
        text-decoration: none;
        color: $primary-color;
        &:hover {
            text-decoration: none;
        }
    }
    .pet__card__location {
        font-family: $text-font;
        font-size: 12px;
    }
    .card-footer {
        border-radius: 0px 0px 24px 24px !important;
        border-top: none;
        text-align: center;
        padding: 24px 0px;
        .pet__card__btn {
            background-color: $third-color;
            border: none;
            border-radius: 16px;
            padding: 8px 16px;
            margin: 8px 4px;
            font-family: $text-font;
            transition: .5s;
            color: white;
            font-size: 14px;
            font-family: $text-font;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}