@import './vars';

.pets__card {
    border: none !important;
    box-shadow: 0px 0px 10px 5px rgb(241, 241, 241);
    margin: 16px 16px;
    border-radius: 24px !important;

    img {
        border-radius: 24px 24px 160px 0px !important;
    }
    .card-footer {
        border-radius: 0px 0px 24px 24px !important;
        border-top: none;
        text-align: center;
        font-family: $text-font;
        font-size: 12px;
    }
}