@import './vars';

.pets__list__container {
    padding: 24px 0px;
}

.pets__list__header {
    text-align: center;
    font-family: $header-font;
    font-size: $header-font-size;
}

.svg__top {
    position: absolute;
    height: 3200px;
    width: 3200px;
    margin-top: -1700px;
    margin-left: -1900px;
    margin-bottom: -1600px;
    z-index: -1;
}