@import './vars';

.modal-dialog {
    border: none;
    background-color: transparent;
    .modal-content {
        border: none;
    }
    .modal-title {
        font-family: $header-font;
        text-align: center;
        margin-bottom: 24px;

    }
    .modal-body {
        text-align: center;
        font-family: $text-font;
        font-size: 20px;
        a {
            color: $primary-color;
        }
        button {
            background-color: $third-color;
            border: none;
            border-radius: 16px;
            padding: 8px 16px;
            margin: 8px 4px;
            font-family: $text-font;
            transition: .5s;
            color: white;
            font-size: 16px;
            font-family: $text-font;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}