@import './vars';

.profile__container {
    padding: 24px $big-spacing;
}

.profile__basic__row {
}

.container__left {
    margin-top: 16px;

    .profile__firstname {
        font-size: $header-font-size;
        font-family: $header-font;
    }

    .profile__lastname {
        font-size: $header-font-size;
        font-family: $header-font;
        margin-top: -24px;
    }

    .profile__pic {
        width: 240px;
        height: 320px;
        object-fit: cover;
        border-radius: 50%;
    }
}
