@import './vars';

.profile__container {
    padding: 24px $big-spacing;
    .profile__svg__right {
        position: absolute;
        margin-top: -400px;
        margin-left: -1000px;
        margin-bottom: -1000px;
        width: 2000px;
        z-index: -1;
    }
}

.profile__basic__row {
}

.container__left {
    margin-top: 16px;
    .profile__firstname {
        font-size: $header-font-size;
        font-family: $header-font;
        color: white;
    }
    .profile__lastname {
        font-size: $header-font-size;
        font-family: $header-font;
        margin-top: -24px;
        color: white;
    }
    .profile__pic {
        width: 240px;
        height: 320px;
        object-fit: cover;
        border-radius: 24px;
    }
}

.container__right {
    .profile__add__pet {
        text-align: center;
        background-color: $third-color;
        width: 32vw;
        margin: 40px auto;
        padding: 16px;
        border-radius: 24px;
        transition: all .5s;
        color: white;
        &:hover {
            background-color: $primary-color;
        }
        a {
            color: white;
            font-family: $header-font;
            font-size: 24px;
            text-decoration: none;
        }
    }
}
