@import './vars';

.main__container__signup {
    margin: 0px auto 160px auto;
}

.svg__left__signup {
    position: absolute;
    width: 1600px;
    margin-left: -900px;
    margin-top: -720px;
    z-index: -1;
    margin-bottom: -1200px;
}

.signup__container__left {
    margin-left: $big-spacing;
    margin-top: 120px;
    .signup__header {
        font-family: $header-font;
        font-size: $header-font-size;
    }
    .signup__subheader {
        font-family: $text-font;
        font-size: $text-font-size;
    }
    label {
        font-family: $text-font;
    }
    input {
        font-family: $text-font;
        border: none;
        background-color: #F3F3F3;
        &:focus {
            background-color: #F3F3F3;
        }
    }
    .signup__error__msg {
        font-size: 14px;
        color: red;
    }
    button {
        background-color: $third-color;
        border-radius: 16px;
        border: none;
        padding: 8px 40px !important;
        transition: .5s;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.123);
        padding: 8px;
        &:hover {
            background-color: $primary-color !important;
        }
        &:focus {
            background-color: $primary-color !important;
        }
    }
}

.signup__container__right {
    margin-right: $big-spacing;
    margin-top: $big-spacing;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}