@import './vars';

.main__container__signup {
    margin: 0 auto;
}

.signup__container__left {
    margin-left: $big-spacing;
    margin-top: 120px;
    .signup__header {
        font-family: $header-font;
        font-size: $header-font-size;
    }
    .signup__subheader {
        font-family: $text-font;
        font-size: $text-font-size;
    }
    label {
        font-family: $text-font;
    }
    input {
        font-family: $text-font;
        border: none;
        background-color: #F3F3F3;
        &:focus {
            background-color: #F3F3F3;
        }
    }
}

.signup__container__right {
    margin-right: $big-spacing;
    margin-top: $big-spacing;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}