@import './vars';

.users__pets__card {
    margin-bottom: 24px;
    border: none !important;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.123);
    margin: 16px 16px;
    border-radius: 24px !important;
    .users__pets__image {
        border-radius: 24px 24px 0px 0px !important;
        height: 320px;
        object-fit: cover;
    }
    .users__pets__tag {
        background-color: $primary-color;
        border-radius: 24px;
        max-width: 16%;
        text-align: center;
        color: white;
        padding: 8px;
        margin-top: -48px;
        margin-left: 16px;
        font-family: $text-font;
    }
    .users__pets__name {
        font-family: $header-font;
        font-size: $subheader-font-size;
        text-align: center;
    }
    .users__pets__time {
        text-align: center !important;
        font-family: $text-font;
        margin-top: -12px;
        margin-bottom: 24px;
        color: rgba(0, 0, 0, 0.438);
        font-size: 12px;
    }
    .users__pets__location {
        font-family: $text-font;
        font-size: 12px;
    }
    .card-footer {
        border-radius: 0px 0px 24px 24px !important;
        border-top: none;
        text-align: center;
        padding: 24px 0px;
        .users__pets__btn {
            background-color: $third-color;
            width: 30%;
            cursor: pointer;
            border: none;
            border-radius: 16px;
            padding: 8px 16px;
            margin: 8px auto;
            font-family: $text-font;
            transition: .5s;
            color: white;
            font-size: 14px;
            font-family: $text-font;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}